body{
  font-family: verdana, geneva, sans-serif;
  width: 700px;
}
h1{
  font-family: tahoma, helvetica, sans-serif;
  font-size: 37px;
  Color: #000000;
  line-height: 46px;
}
h2{
  font-family: tahoma, helvetica, sans-serif;
  font-size: 25px;
  line-height: 38px;
}
p{
  font-size: 18px;
  color:#333;
  line-height: 27px;
}
